@charset "utf-8";

/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
  .latest_games_teams {
    margin-top: -5px;
  }
  .latest_games_teams > div:first-child .team_name {
    margin-left: 0;
    margin-top: 3px;
  }
  .latest_games_teams > div:last-child .team_name {
    margin-right: 0;
    margin-top: 3px;
  }
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
  .sidebar_col {
    margin-top: 100px;
  }
  .latest_games_teams > div:first-child .team_name {
    margin-left: 8px;
    margin-top: 0px;
  }
  .latest_games_teams > div:last-child .team_name {
    margin-right: 8px;
    margin-top: 0px;
  }
  .latest_games_teams {
    margin-top: 5px;
  }
}
